In [ ]:
import pandas as pd

In [3]:
d1 = pd.read_csv("resumes_dataset1_clean.csv")
d2 = pd.read_csv("resumes_dataset2_clean.csv")

In [4]:
print("Dataset 1 (Avishek):", d1.shape)
print("Dataset 2 (Jithin):", d2.shape)

print("\nRoles dataset 1:")
print(d1['role_label_final'].value_counts())

print("\nRoles dataset 2:")
print(d2['role_label_final'].value_counts())

Dataset 1 (Avishek): (8076, 5)
Dataset 2 (Jithin): (188, 5)

Roles dataset 1:
role_label_final
Python_Developer          1270
Java_Developer            1194
Web_Developer              958
Database_Administrator     917
Security_Analyst           865
Systems_Administrator      764
Project_manager            719
Front_End_Developer        523
Network_Administrator      452
Software_Developer         414
Name: count, dtype: int64

Roles dataset 2:
role_label_final
Full Stack Developer                  30
Data Scientist                        29
Frontend Developer                    24
Mobile App Developer (iOS/Android)    23
Cloud Engineer                        23
Python Developer                      22
Backend Developer                     19
Machine Learning Engineer             18
Name: count, dtype: int64

In [5]:
# Unir todos los roles crudos de ambos datasets
roles_d1 = d1[['role_raw']].assign(source_dataset='dataset1_avishek')
roles_d2 = d2[['role_raw']].assign(source_dataset='dataset2_jithin')

all_roles = (
    pd.concat([roles_d1, roles_d2], ignore_index=True)
    .drop_duplicates()
    .sort_values(['source_dataset', 'role_raw'])
)

all_roles

                                role_raw    source_dataset
7159              Database_Administrator  dataset1_avishek
2464                 Front_End_Developer  dataset1_avishek
1270                      Java_Developer  dataset1_avishek
2987               Network_Administrator  dataset1_avishek
3439                     Project_manager  dataset1_avishek
0                       Python_Developer  dataset1_avishek
4158                    Security_Analyst  dataset1_avishek
5023                  Software_Developer  dataset1_avishek
5437               Systems_Administrator  dataset1_avishek
6201                       Web_Developer  dataset1_avishek
8077                   Backend Developer   dataset2_jithin
8124                      Cloud Engineer   dataset2_jithin
8079                      Data Scientist   dataset2_jithin
8076                  Frontend Developer   dataset2_jithin
8103                Full Stack Developer   dataset2_jithin
8114           Machine Learning Engineer   dataset2_jithin
8105  Mobile App Developer (iOS/Android)   dataset2_jithin
8078                    Python Developer   dataset2_jithin

In [6]:
all_roles.to_csv("role_mapping_manual.csv", index=False)
print("Guardado role_mapping_manual.csv")

Guardado role_mapping_manual.csv

In [7]:
import pandas as pd

# Cargar el mapping que acabas de guardar
mapping = pd.read_csv("role_mapping_manual.csv")
print(mapping)

# Diccionario: role_raw -> nombre canónico para el modelo
canonical_map = {
    "Python_Developer": "python_developer",
    "Python Developer": "python_developer",
    "Front_End_Developer": "frontend_developer",
    "Frontend Developer": "frontend_developer",
    "Java_Developer": "java_developer",
    "Web_Developer": "web_developer",
    "Database_Administrator": "database_administrator",
    "Security_Analyst": "security_analyst",
    "Systems_Administrator": "systems_administrator",
    "Network_Administrator": "network_administrator",
    "Project_manager": "project_manager",
    "Software_Developer": "software_developer",
    "Backend Developer": "backend_developer",
    "Cloud Engineer": "cloud_engineer",
    "Data Scientist": "data_scientist",
    "Full Stack Developer": "fullstack_developer",
    "Machine Learning Engineer": "ml_engineer",
    "Mobile App Developer (iOS/Android)": "mobile_app_developer",
}

# Crear la nueva columna usando el diccionario
mapping["role_label_final"] = mapping["role_raw"].map(canonical_map)

# Comprobar si algún role_raw se ha quedado sin mapeo
print("Roles sin mapeo en canonical_map:",
      mapping["role_label_final"].isna().sum())

mapping

                              role_raw    source_dataset
0               Database_Administrator  dataset1_avishek
1                  Front_End_Developer  dataset1_avishek
2                       Java_Developer  dataset1_avishek
3                Network_Administrator  dataset1_avishek
4                      Project_manager  dataset1_avishek
5                     Python_Developer  dataset1_avishek
6                     Security_Analyst  dataset1_avishek
7                   Software_Developer  dataset1_avishek
8                Systems_Administrator  dataset1_avishek
9                        Web_Developer  dataset1_avishek
10                   Backend Developer   dataset2_jithin
11                      Cloud Engineer   dataset2_jithin
12                      Data Scientist   dataset2_jithin
13                  Frontend Developer   dataset2_jithin
14                Full Stack Developer   dataset2_jithin
15           Machine Learning Engineer   dataset2_jithin
16  Mobile App Developer (iOS/Android)   dataset2_jithin
17                    Python Developer   dataset2_jithin
Roles sin mapeo en canonical_map: 0

,role_raw,source_dataset,role_label_final
0,Database_Administrator,dataset1_avishek,database_administrator
1,Front_End_Developer,dataset1_avishek,frontend_developer
2,Java_Developer,dataset1_avishek,java_developer
3,Network_Administrator,dataset1_avishek,network_administrator
4,Project_manager,dataset1_avishek,project_manager
5,Python_Developer,dataset1_avishek,python_developer
6,Security_Analyst,dataset1_avishek,security_analyst
7,Software_Developer,dataset1_avishek,software_developer
8,Systems_Administrator,dataset1_avishek,systems_administrator
9,Web_Developer,dataset1_avishek,web_developer
10,Backend Developer,dataset2_jithin,backend_developer
11,Cloud Engineer,dataset2_jithin,cloud_engineer
12,Data Scientist,dataset2_jithin,data_scientist
13,Frontend Developer,dataset2_jithin,frontend_developer
14,Full Stack Developer,dataset2_jithin,fullstack_developer
15,Machine Learning Engineer,dataset2_jithin,ml_engineer
16,Mobile App Developer (iOS/Android),dataset2_jithin,mobile_app_developer
17,Python Developer,dataset2_jithin,python_developer

In [8]:
mapping.to_csv("role_mapping_manual.csv", index=False)
print("Mapping actualizado guardado.")

Mapping actualizado guardado.