# Dataset 3 – Resume Dataset SNEHAAN BHAWAL

Este notebook limpia el **Dataset 1** para el Modelo 1 (CV → rol tech).

## Origen de los datos

- Kaggle: https://www.kaggle.com/datasets/snehaanbhawal/resume-dataset

> **Importante:** los datos **NO** se suben al repositorio (están en `.gitignore`).  
> Cada persona que use este proyecto debe descargar los datos en local.

## Instrucciones para descargar y colocar el dataset

1. Ve al enlace de Kaggle:  
   https://www.kaggle.com/datasets/snehaanbhawal/resume-dataset
2. Descarga el fichero CSV del dataset (por ejemplo `Resume.csv`).
3. Cópialo dentro de la carpeta:

   `data/model1_cv_role/1.raw/`

4. Renómbralo a:

   `resumes_dataset3.csv`

   (o ajusta el nombre en el código si prefieres otro).

## Ruta esperada en este notebook

Este notebook asume que el archivo está en:

```text
data/model1_cv_role/1.raw/resumes_dataset1.csv
```

Si usas otro nombre o ubicación, cambia file_path en la celda de lectura.

In [3]:
import sys
sys.executable, sys.version

('/opt/local/bin/python3.13',
 '3.13.9 (main, Oct 18 2025, 13:09:20) [Clang 17.0.0 (clang-1700.3.19.1)]')

In [1]:
import pandas as pd

In [4]:
df = pd.read_csv('../../1.raw/archive-3/Resume/resumes_dataset3.csv')
df.head()

,ID,Resume_str,Resume_html,Category
0,16852973,HR ADMINISTRATOR/MARKETING ASSOCIATE\...,"<div class=""fontsize fontface vmargins hmargin...",HR
1,22323967,"HR SPECIALIST, US HR OPERATIONS ...","<div class=""fontsize fontface vmargins hmargin...",HR
2,33176873,HR DIRECTOR Summary Over 2...,"<div class=""fontsize fontface vmargins hmargin...",HR
3,27018550,HR SPECIALIST Summary Dedica...,"<div class=""fontsize fontface vmargins hmargin...",HR
4,17812897,HR MANAGER Skill Highlights ...,"<div class=""fontsize fontface vmargins hmargin...",HR

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2484 entries, 0 to 2483
Data columns (total 4 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   ID           2484 non-null   int64
 1   Resume_str   2484 non-null   object
 2   Resume_html  2484 non-null   object
 3   Category     2484 non-null   object
dtypes: int64(1), object(3)
memory usage: 77.8+ KB

In [6]:
df.describe()

                 ID
count  2.484000e+03
mean   3.182616e+07
std    2.145735e+07
min    3.547447e+06
25%    1.754430e+07
50%    2.521031e+07
75%    3.611444e+07
max    9.980612e+07

In [7]:
df['Category'].nunique()

24

In [8]:
df['Category'].value_counts()

Category
INFORMATION-TECHNOLOGY    120
BUSINESS-DEVELOPMENT      120
ADVOCATE                  118
CHEF                      118
ENGINEERING               118
ACCOUNTANT                118
FINANCE                   118
FITNESS                   117
AVIATION                  117
SALES                     116
BANKING                   115
HEALTHCARE                115
CONSULTANT                115
CONSTRUCTION              112
PUBLIC-RELATIONS          111
HR                        110
DESIGNER                  107
ARTS                      103
TEACHER                   102
APPAREL                    97
DIGITAL-MEDIA              96
AGRICULTURE                63
AUTOMOBILE                 36
BPO                        22
Name: count, dtype: int64

In [13]:
df['Category'].value_counts(normalize=True) * 100

Category
INFORMATION-TECHNOLOGY    4.830918
BUSINESS-DEVELOPMENT      4.830918
ADVOCATE                  4.750403
CHEF                      4.750403
ENGINEERING               4.750403
ACCOUNTANT                4.750403
FINANCE                   4.750403
FITNESS                   4.710145
AVIATION                  4.710145
SALES                     4.669887
BANKING                   4.629630
HEALTHCARE                4.629630
CONSULTANT                4.629630
CONSTRUCTION              4.508857
PUBLIC-RELATIONS          4.468599
HR                        4.428341
DESIGNER                  4.307568
ARTS                      4.146538
TEACHER                   4.106280
APPAREL                   3.904992
DIGITAL-MEDIA             3.864734
AGRICULTURE               2.536232
AUTOMOBILE                1.449275
BPO                       0.885668
Name: proportion, dtype: float64