In [1]:
import pandas as pd

In [2]:
df = pd.read_csv("cv_labeled_final.csv")

In [ ]:
df.head()

(8264, 6)

,cv_id,cv_text,role_label_final,role_raw,source_dataset,resume_len
0,1,Python Developer Python Developer Python Devel...,python_developer,Python_Developer,dataset1_avishek,3467
1,2,R&D Engineer R&D Engineer R&D Engineer - Nokia...,python_developer,Python_Developer,dataset1_avishek,2812
2,3,Sr. Full Stack Developer Sr. Full Stack Develo...,python_developer,Python_Developer,dataset1_avishek,16606
3,4,Sr. Full Stack Python Developer Sr. Full Stack...,python_developer,Python_Developer,dataset1_avishek,9253
4,5,Sr. Python Developer Sr. Python Developer Sr. ...,python_developer,Python_Developer,dataset1_avishek,15659

In [4]:
print("Shape final:", df.shape)

print("\nDistribución final de roles:")
print(df['role_label_final'].value_counts())

print("\nEjemplos de roles y sus nombres originales:")
print(df[['role_raw', 'role_label_final']].drop_duplicates())

Shape final: (8264, 6)

Distribución final de roles:
role_label_final
python_developer          1292
java_developer            1194
web_developer              958
database_administrator     917
security_analyst           865
systems_administrator      764
project_manager            719
frontend_developer         547
network_administrator      452
software_developer         414
fullstack_developer         30
data_scientist              29
mobile_app_developer        23
cloud_engineer              23
backend_developer           19
ml_engineer                 18
Name: count, dtype: int64

Ejemplos de roles y sus nombres originales:
                                role_raw        role_label_final
0                       Python_Developer        python_developer
1270                      Java_Developer          java_developer
2464                 Front_End_Developer      frontend_developer
2987               Network_Administrator   network_administrator
3439                     Project_manager         project_manager
4158                    Security_Analyst        security_analyst
5023                  Software_Developer      software_developer
5437               Systems_Administrator   systems_administrator
6201                       Web_Developer           web_developer
7159              Database_Administrator  database_administrator
8076                  Frontend Developer      frontend_developer
8077                   Backend Developer       backend_developer
8078                    Python Developer        python_developer
8079                      Data Scientist          data_scientist
8103                Full Stack Developer     fullstack_developer
8105  Mobile App Developer (iOS/Android)    mobile_app_developer
8114           Machine Learning Engineer             ml_engineer
8124                      Cloud Engineer          cloud_engineer

In [5]:
# Distribución por rol y dataset de origen
pd.crosstab(df['role_label_final'], df['source_dataset'])

# Longitud por rol
df['resume_len'].describe()

df.groupby('role_label_final')['resume_len'].describe()

,count,mean,std,min,25%,50%,75%,max
role_label_final,,,,,,,,
backend_developer,19.0,831.052632,73.482026,712.0,783.00,810.0,867.50,1007.0
cloud_engineer,23.0,856.565217,101.195502,726.0,765.50,831.0,953.50,1036.0
data_scientist,29.0,830.448276,94.635612,708.0,787.00,800.0,855.00,1108.0
database_administrator,917.0,6930.366412,5042.031198,510.0,3187.00,5452.0,9236.00,29339.0
frontend_developer,547.0,10226.718464,6545.245439,686.0,4274.50,9930.0,15053.50,29336.0
fullstack_developer,30.0,870.066667,246.086182,690.0,756.00,805.0,869.75,1806.0
java_developer,1194.0,12112.670854,7084.437173,539.0,6398.50,11663.0,16808.75,36391.0
ml_engineer,18.0,893.777778,71.158940,728.0,857.75,932.0,941.75,969.0
mobile_app_developer,23.0,811.739130,122.004552,671.0,703.50,775.0,913.50,1045.0
network_administrator,452.0,4501.796460,3385.437029,510.0,2420.50,3568.5,5538.50,26334.0
project_manager,719.0,6377.628651,3898.866565,509.0,3743.00,5654.0,7771.50,35735.0
python_developer,1292.0,11224.988390,6139.298735,556.0,6708.75,11301.5,15176.00,43638.0
security_analyst,865.0,5855.330636,3704.319207,523.0,3462.00,4906.0,7128.00,32279.0
software_developer,414.0,4257.492754,3997.185584,517.0,1782.50,2932.5,5081.00,29735.0
systems_administrator,764.0,5149.912304,3313.849906,564.0,2978.25,4382.0,6238.00,29272.0
web_developer,958.0,5789.358038,5194.392485,572.0,2270.25,3696.0,7563.25,40010.0